@if (ruler) {
  <div class="ruler">
    @for (unitIndex of ruler.unitOnScreen | enumerate; track unitIndex) {
      <div
        [style.width.px]="
          unitIndex === 0 ? timeRulerService.firstUnitWidth() : ruler.pxInUnit
        "
        [class.unit-division-narrow]="ruler.pxInUnit < 70"
        class="unit-division"
        [ngClass]="ruler.units"
      >
        <ng-container
          *ngTemplateOutlet="
            unitLabelContent;
            context: {
              index: unitIndex,
              label:
                startTime()
                | rulerUnitTime: unitIndex : ruler
                | rulerUnitLabel: ruler : currentTime()
            }
          "
        >
        </ng-container>
      </div>
    } @empty {
      SCALE ERROR
    }
    @if (timeRulerService.currentTimeLeft() !== 0) {
      <div
        class="current-time"
        [style.left.px]="timeRulerService.currentTimeLeft()"
      ></div>
    }
  </div>
}
<ng-template #unitLabelContent let-label="label" let-index="index">
  <!--  <div [ngClass]="{ current: label.current, first: label.index === 0 }">-->
  <div
    [class.current]="label.current"
    [class.round]="label.round"
    [class.first]="index === 0"
  >
    {{ label.label }}
    <div class="meta">{{ label.meta }}</div>
  </div>
</ng-template>
