:host {
  .ruler {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    .unit-division {
      box-shadow: inset -1px 1px 0px 0px rgba(0, 0, 0, 0.5);
      min-width: 1px;
      height: 15px;
      text-align: right;
      &.minutes {
        background-color: #ffcccc;
      }
      &.hours {
        background-color: #ffaaaa;
      }
      &.days {
        background-color: #ff9999;
      }
      &.weeks {
        background-color: #ff7777;
      }
      &.years {
        background-color: #ff5555;
      }
    }
  }
}
