<pre>{{ sceneViewService.view().startTime }}</pre>
@if (ruler) {
  <div class="ruler">
    @for (unitIndex of ruler.unitOnScreen | enumerate; track unitIndex) {
      <div
        [style.width.px]="
          unitIndex === 0 ? timeRulerService.firstUnitWidth() : ruler.pxInUnit
        "
        class="unit-division"
        [ngClass]="ruler.units"
      >
        {{
          startTime() | rulerUnitTime: unitIndex : ruler | rulerUnitLabel: ruler
        }}
      </div>
    } @empty {
      SCALE ERROR
    }
    @if (timeRulerService.currentTimeLeft() !== 0) {
      <div
        class="current-time"
        [style.left.px]="timeRulerService.currentTimeLeft()"
      ></div>
    }
  </div>
}
